<h1>Home Page</h1>

<% blogs.forEach(blog => { %>
    <ul>
        <li><%= blog.title %></li>
        <li><%= blog.description %></li>
        <a href="/blog/<%= blog._id %>">Read</a>
        <a href="/blog/<%= blog._id %>/edit">Edit</a>

        <form action="/blog/<%= blog._id %>/destroy" method="POST">
            <button type="submit">Delete</button>
        </form>
    </ul>
<% }) %>

